<h1>Create a post!</h1>

<form method="POST" action="/users/createPost">
    <div>
        <label for="postTitle">Title Of Post:</label>
        <input type="text" id="postTitle" name="postTitle" />
    </div>
    <div>
        <label for="postBody">Body Of Post:</label>
        <input type="text" id="postBody" name="postBody" />
    </div>
    <div>
        <button type="submit">Create Post</button>
    </div>
</form>
<a href="/users/profile">Back To Profile Page</a>