<h1>Update This Post</h1>
<h3>Both Fields Required</h3>
<form method="POST" action="">
    <div>
        <label for="postTitle">New Title:</label>
        <input type="text" id="postTitle" name="postTitle" />
    </div>
    <div>
        <label for="postBody">New Body:</label>
        <input type="text" id="postBody" name="postBody" />
    </div>
    <div>
        <button type="submit">Update Post</button>
    </div>
</form>
<div>
    <a href="/users/profile">Go Back To Profile Page</a>
</div>